<html>
    <head>
    <title>Bohnen Avatar</title>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@kenny661_" />
    <meta property="og:url" content="http://bohne.voteitup.net/" />
    <meta property="og:title" content="Bohnen Avatar Generator" />
    <meta property="og:description" content="Erstelle deinen eigenen Bohnen-Avatar." />
    <meta property="og:image" content="<%= url %>" />
    </head>
    <body>
        <img src="<%= url %>" width="512" height="512">
    </body>
</html>