<html>
    <head>
    <title>Bohnen Avatar</title>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@kenny661_" />
    <meta property="og:url" content="http://bohne.voteitup.net/" />
    <meta property="og:title" content="Bohnen Avatar Generator" />
    <meta property="og:description" content="Erstelle deinen eigenen Bohnen-Avatar." />
    <meta property="og:image" content="<%= url %>" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113863042-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113863042-1');
    </script>

    </head>
    <body>
        <img src="<%= url %>" width="512" height="512">
        <script>
        window.location.replace("http://bohne.voteitup.net");
        </script>
    </body>
    
</html>