.generared-avatar-modal {

    .generared-avatar-modal__image {
        max-width:200px;
        max-height:100%;
        margin: 0 auto;
        border-radius: 10px; 
    }

    .input-group{
        input{
            font-family: Arial, Helvetica, sans-serif
        
        }
    }

    .generared-avatar-modal__label{
        font-size: 20px;
        margin: 20px 0;
    }

    .spacing{
        margin-top: 50px;
    }
    .teilen{
        height: 60px;
        position: relative;
        p{
            font-size: 20px;
            margin-top: 40px;
        }
        img{
            top: -65px;
            right: 60px;
            @media only screen and (max-width: 557px) {
                right: 30px;
            }
            @media only screen and (max-width: 477px) {
                right: 0px;
            }
            position: absolute;
            transform: rotate(90deg);
            width: 50px;
        }
    }
}