<div class="avatar-preview col-12">
  <div class="row">
    <div class="col-12">
      <p class="avatar-preview__title">{{'your_bean' | translate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="avatar-preview__image-container">
        <div *ngFor="let dir of dirs">
          <div class="avatar-preview__image" *ngIf="dir.images.length > 1" [ngStyle]="{'z-index': dir.selectedImage.zIndex}">
              <img [src]="baseUrl + '/images/bimages/' + dir.directoryName + '/' +dir.selectedImage.fileName" *ngIf="dir.selectedImage">
          </div>
        </div>
        <div class="avatar-preview__image-border"></div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <p class="avatar-preview__hash d-none d-sm-block">
            MD5: {{md5Hash}}
        </p>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="avatar-preview__btn-generate-container">
        <button class="avatar-preview__btn-generate" (click)="showAvatarModal()">
          {{'create_bean' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <div class="twitter-feed">
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/BohnenGenerator" data-widget-id="961723568185905152" data-chrome="noheader, nofooter, noborders, noscrollbar, transparent" data-height="100" data-tweet-limit="3" data-theme="dark">#BohnenGenerator Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
  </div>


</div>