<div class="image-dir" [ngClass]="{'selected': selected}" (click)="selectDir()">
    <img 
        class="image-dir__image" 
        src="{{ baseUrl + '/images/bimages/' + dir.directoryName + '/' +dir.previewImage}}"
        [ngStyle]="{'margin-top': dir.previewClip.marginTop+'px',
        'margin-left': dir.previewClip.marginLeft+'px','width': dir.previewClip.width+'px','height': dir.previewClip.height+'px'}"
        (load)="hideLoader()"
        [ngClass]="{'hidden': isLoading}"
        >

        <app-ui-loader-inline [visible]="isLoading" [small]="true"></app-ui-loader-inline>
</div>
  