.main {
  
  min-height: calc(100vh - 53px);
  height: 100%;
  width: 100%;
  padding: 10px;
  
  @media (min-width: 575px) {
    padding: 20px;
  }
  .contact{
    width: 100%;
    float: right;
    color: white;
    text-align: right;

    margin-top: 50;
    a{
      color: #f2f2f2;    
    }
  }
}
