<div class="dashboard container-fluid" >
    <div class="row">
        <div class="col-12">
          <p class="dashboard__title--large">{{ 'create_your_bean' | translate }}</p>
        </div>
      </div>
  <div class="dir-container" *ngIf="dirs">
    <div class="row">
      <div class="col-12">
        <p class="dashboard__title">{{ 'categories' | translate }}:</p>
      </div>
    </div>
    <div class="row">
        <div *ngFor="let dir of dirs; let index = index" class="col-xs" >
          <app-dir-card
            *ngIf="dir.images.length > 1"
            [dir]="dir"
            [selected]="currentDirIndex == index"
            (onClick)="setCurrentDir(index)"
          ></app-dir-card>
        </div>
    </div>
  </div>

  <div class="generator-container row">

    <div class="generator-container__images col-sm" >
      <div class="row" *ngIf="dirs && dirs[currentDirIndex]">
        <div class="col-12">
          <p class="dashboard__title">{{ 'selection' | translate }}:</p>
        </div>
      </div>
      <div class="row" *ngIf="dirs && dirs[currentDirIndex]">
          <div *ngFor="let image of dirs[currentDirIndex].images; let index = index;">
              <app-image-card
                [image]="image"
                [dir]="dirs[currentDirIndex]"
                [selected]="dirs[currentDirIndex].selectedImage && dirs[currentDirIndex].selectedImage.hashChar == image.hashChar"
                (onClick)="setSelectedImage($event)"
                [index]="index"
              ></app-image-card>
          </div>
      </div>
    </div>

    <div class="generator-container__preview col-sm" [ngStyle]="{'margin-top': verticalOffset+'px' }">
      <app-avatar-preview [dirs]="dirs" [md5Hash]="md5Hash"></app-avatar-preview>
    </div>

  </div>
</div>