<div class="dashboard container-fluid" >
    <div class="row">
        <div class="col-12">
          <p class="dashboard__title--large">
            <span>{{ 'create_your_bean' | translate }} </span>

            <span class="witter-hashtag-button-container">
                <a href="https://twitter.com/intent/tweet?button_hashtag=BohnenGenerator&hashtags=rbtv&ref_src=twsrc%5Etfw&url=http://bohne.voteitup.net/" class="twitter-hashtag-button" data-show-count="false">Tweet #BohnenGenerator</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </span>
          </p>
        </div>
      </div>
  <div class="dir-container" *ngIf="dirs">
    <div class="row">
      <div class="col-12">
        <p class="dashboard__title">{{ 'categories' | translate }}:</p>
      </div>
    </div>
    <div class="row">
        <div *ngFor="let dir of dirs; let index = index" class="col-xs" >
          <app-dir-card
            *ngIf="dir.images.length > 1"
            [dir]="dir"
            [selected]="currentDirIndex == index"
            (onClick)="setCurrentDir(index)"
          ></app-dir-card>
        </div>
    </div>
  </div>

  <div class="generator-container row">

    <div class="generator-container__images col-sm" >
      <div class="row" *ngIf="dirs && dirs[currentDirIndex]">
        <div class="col-12">
          <p class="dashboard__title">{{ 'selection' | translate }}:</p>
        </div>
      </div>
      <div class="row" *ngIf="dirs && dirs[currentDirIndex]">
          <div *ngFor="let image of dirs[currentDirIndex].images; let index = index;">
              <app-image-card
                [image]="image"
                [dir]="dirs[currentDirIndex]"
                [selected]="dirs[currentDirIndex].selectedImage && dirs[currentDirIndex].selectedImage.hashChar == image.hashChar"
                (onClick)="setSelectedImage($event)"
                [index]="index"
              ></app-image-card>
          </div>
      </div>

      <div class="row d-none d-sm-none d-md-block">
        <div class="col-12">
          <div class="twitter-feed-container">
              <div class="twitter-feed">
                  <a class="twitter-timeline"  href="https://twitter.com/hashtag/BohnenGenerator" data-widget-id="961723568185905152" data-chrome="noheader, nofooter, noborders, noscrollbar, transparent" data-height="100" data-tweet-limit="3" data-theme="dark">#BohnenGenerator Tweets</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="generator-container__preview col-sm" [ngStyle]="{'margin-top': verticalOffset+'px' }">
      <app-avatar-preview [dirs]="dirs" [md5Hash]="md5Hash"></app-avatar-preview>
    </div>

  </div>
</div>

