<div class="dashboard container-fluid" >
  <div class="dir-container" *ngIf="dirs">
    <div class="row">
        <div *ngFor="let dir of dirs; let index = index" class="col-xs" >
          <app-dir-card
            *ngIf="dir.images.length"
            [dir]="dir"
            [selected]="currentDirIndex == index"
            (onClick)="setCurrentDir(index)"
          ></app-dir-card>
        </div>
    </div>

  </div>

  <div class="generator-container row">

    <div class="generator-container__images col-sm" >
      <div class="row" *ngIf="dirs[currentDirIndex]">
          <div *ngFor="let image of dirs[currentDirIndex].images">
              <app-image-card
                [image]="image"
                [dir]="dirs[currentDirIndex]"
                [selected]="dirs[currentDirIndex].selectedImage && dirs[currentDirIndex].selectedImage.hashChar == image.hashChar"
                (onClick)="setSelectedImage($event)"
              ></app-image-card>
          </div>
      </div>

    </div>

    <div class="generator-container__preview col-sm">
      <app-avatar-preview></app-avatar-preview>
    </div>

  </div>


</div>